.body-content {
    background-color: #eee;
}

.homeCard {
    margin-top: 1.4em;
}

#stackChart {
    width: 100%;
    height: 4em;
}

.ibox-content {
    padding-bottom: 13px;
}

#homeMap {
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #fff;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

/*@media screen and (min-width: 1400px) {
    #homemap {
        min-height: 54.8em;
        width: 98.2%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 992px) {
    #homemap {
        min-height: 34em;
        width: 98%;
    }
}

@media scren and (max-width: 992px) {
    #homemap {
        min-height: 20em;
        width: 92%;
    }
}*/

footer {
    margin-top: 3em;
}
